.idea
data
**/__pycache__
examples/WikiBio
examples/wiki_recent
.vscode
logs
results
output
scripts
vectors
**/.cache/
*.log
delta.txt
.history
**/.hydra/
**/.gradio/
**/temp/
/hugging_cache/
*.pdf

# 忽略所有 .pdf 文件
*.pdf

# 忽略所有 .log 日志文件
*.log

# 忽略 Python 缓存文件
__pycache__/
*.py[cod]

# 忽略系统自动生成的文件
.DS_Store
Thumbs.db

# 忽略虚拟环境
venv/
.venv/